<html lang="en" class="space_mono_ee619f4f-module__4xDDmW__variable inter_8f1c4a24-module__nx7jFG__variable">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>THE ASHTON FILES</title>
        <meta property="og:title" content="THE ASHTON FILES" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="#2e3133">
        <meta name="description" content="The truth must be revealed for ALL TO SEE 👀!" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="The truth must be revealed for ALL TO SEE 👀!" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container mt-5 pt-5">
          <div class="text-secondary space-mono-regular">
             <i class="fa-solid fa-unlock text-success-glow blink"></i>
             <span> NOW </span>
             <span>  RELEASED </span>
             <i class="fa-solid fa-unlock text-success-glow blink"></i>
           </div>
          <p style="font-size: 5em;" class="mt-3 space-mono-bold">🔓 THE ASHTON FILES 🔓</p>
             <!-- Countdown -->
             <div class="countdown-container">
               <div class="countdown space-mono-bold">
                 <!-- day -->
                 <div class="count">
                   <div class="title">
                     <h2 class="day">00</h2>
                   </div>
       
                   <p>days</p>
                 </div>
       
                 <!-- hour -->
                 <div class="count">
                   <div class="title">
                     <h2 class="hour">00</h2>
                   </div>
       
                   <p>hours</p>
                 </div>
       
                 <!-- minute -->
                 <div class="count">
                   <div class="title">
                     <h2 class="minute">00</h2>
                   </div>
       
                   <p>minutes</p>
                 </div>
       
                 <!-- second -->
                 <div class="count">
                   <div class="title">
                     <h2 class="second">00</h2>
                   </div>
       
                   <p>seconds</p>
                 </div>
               </div>
               <hr>
       </div>
         <div class="container mt-5 pt-5">
          <h1 class="mb-5 mt-3 text-danger-glow blink">VIEWER DISCRETION IS ADVISED</h1>
          <button onclick="openTheFiles()" class="btn btn-danger btn-lg mb-5">CLICK HERE TO VIEW THE FILES</button>
            <div class="mt-5 THEFILES row justify-content-center" id="files">
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_1.png" target="_blank">
                  <img src="/assets/evidence_1.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_2.png" target="_blank">
                  <img src="/assets/evidence_2.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_3.png" target="_blank">
                  <img src="/assets/evidence_3.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_5.png" target="_blank">
                  <img src="/assets/evidence_5.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_6.png" target="_blank">
                  <img src="/assets/evidence_6.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_7.png" target="_blank">
                  <img src="/assets/evidence_7.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_8.jpg" target="_blank">
                  <img src="/assets/evidence_8.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_9.png" target="_blank">
                  <img src="/assets/evidence_9.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_10.png" target="_blank">
                  <img src="/assets/evidence_10.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_11.png" target="_blank">
                  <img src="/assets/evidence_11.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_33.png" target="_blank">
                  <img src="/assets/evidence_33.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_34.png" target="_blank">
                  <img src="/assets/evidence_34.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_35.png" target="_blank">
                  <img src="/assets/evidence_35.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_36.png" target="_blank">
                  <img src="/assets/evidence_36.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_37.png" target="_blank">
                  <img src="/assets/evidence_37.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_38.webp" target="_blank">
                  <img src="/assets/evidence_38.webp" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_12.png" target="_blank">
                  <img src="/assets/evidence_12.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_13.png" target="_blank">
                  <img src="/assets/evidence_13.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_14.png" target="_blank">
                  <img src="/assets/evidence_14.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_15.jpg" target="_blank">
                  <img src="/assets/evidence_15.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_16.jpg" target="_blank">
                  <img src="/assets/evidence_16.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_17.jpg" target="_blank">
                  <img src="/assets/evidence_17.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_18.png" target="_blank">
                  <img src="/assets/evidence_18.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_19.png" target="_blank">
                  <img src="/assets/evidence_19.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_20.jpg" target="_blank">
                  <img src="/assets/evidence_20.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_21.jpg" target="_blank">
                  <img src="/assets/evidence_21.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_22.jpg" target="_blank">
                  <img src="/assets/evidence_22.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_23.png" target="_blank">
                  <img src="/assets/evidence_23.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_24.png" target="_blank">
                  <img src="/assets/evidence_24.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_25.jpg" target="_blank">
                  <img src="/assets/evidence_25.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_26.jpg" target="_blank">
                  <img src="/assets/evidence_26.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_27.jpg" target="_blank">
                  <img src="/assets/evidence_27.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_28.jpg" target="_blank">
                  <img src="/assets/evidence_28.jpg" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_29.mp4" target="_blank">
                  <video src="/assets/evidence_29.mp4" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_30.mp4" target="_blank">
                  <video src="/assets/evidence_30.mp4" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_31.mp4" target="_blank">
                  <video src="/assets/evidence_31.mp4" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_4.png" target="_blank">
                  <img src="/assets/evidence_4.png" class="evidenceImage" loading="lazy">
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/assets/evidence_32.mp4" target="_blank">
                  <video src="/assets/evidence_32.mp4" class="evidenceImage" loading="lazy">
                </a>
              </div>
            </div>
         </div>
         <script>
          function openTheFiles() {
              const element = document.getElementById('files');
              element.classList.toggle('THEFILES');
          };
         </script>
    </body>
</html>
